<template name="Header">

  <div class="ui fixed borderless inverted menu" style="margin: 0; padding: 0;">

    <div class="ui container" style="margin-top: 1%; margin-bottom: 1%">
      <img class="ui image" src="/images/logo_name_white.png" style="width: 240px; height: 75px">
      <a class="fitted right item">
        <form>
          <button class="ui button" type="submit" href=#>Sign In</button>
          <button class="ui button" type="submit" href=#>Sign Up</button>
        </form>
      </a>

    </div>

  </div>

</template>